:root{
    --dark: #0c0c00;
    --white: #fff;
    --gray: #949494;
    --gray2: #cccccc;
}

body{
    background-color: var(--dark);
    border: solid 1px var(--dark);
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    height: 90vh;
}

.box-question{
    background-color: var(--white);
    margin-top: 3rem;
    color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    max-height: 800px;
    border-radius: 10px;
    text-align: center;
}

.header{
    display: flex;
    justify-content:space-between;
    background-color: purple ;
    border-radius: 10px 10px 0px 0px;
    color: var(--white);
    font-size: 1.4rem;
    padding: 1rem;
}

select{
    flex: 0.5;
    color: #fff;
    background-color: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 20px;
    appearance: none;
    background-image: url(img/arrow.png); 
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px) ;
    background-position-y: 20px;

}

.footer{
    background-color: purple;
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    display: flex;

}

input{
    width: 50%;
    font-size: 1rem;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

#btn-submit{
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    padding: 10px;
}

#btn-speech-to-text{
    border-radius: 50rem;
    border: none;
    padding: 10px;
}

#btn-submit:hover{
    background-color: var(--gray) ;
    cursor: pointer;
    transition: .4s;
}

#historic{
    padding: 1rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
}

.box-user-message{
    display: flex;
    justify-content: flex-end;
    margin: 18px;

}

.userMessage{
    text-align: right;
    background-color: var(--gray);
}


.box-gpt-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 18px;
    
}

.gptMessage{
    text-align: left;
    background-color: var(--gray2);
}

.userMessage, .gptMessage{
    border-radius: 10px;
    padding: 1rem;
    color: var(--white);    
    margin: 0;
}

.divBtn{
    /* border: solid 1px red; */
    display: flex;
    justify-content: space-between;
    
    
}

.verify-p{
    color: #0c0c00;
    font-size: 14px;
    margin-right: 10px;
}

.btn-listem{
    border: solid 1px red;
    background-color: transparent;
    border-radius: 20px;
    margin: 10px; 
    height: 1.5rem;
    width: 6rem;
    color: red;
    margin-left: 0px; 
}

#loginText{
    display: none;
    background: transparent;
    

}

b{
    cursor: pointer;
    color: red;
}

/* .filterGpt{
    /* border: solid 1px orange; 
}*/

ul{
    display: flex;
    list-style: none;
    margin-bottom: 4px;
    /* border: solid 1px green; */
    padding: 0px;


}

li{
    /* border: solid 1px blue; */
    width: 300px;
    /* display: flex;
    flex-direction: column; */

    
}

#buttonList1, #buttonList2, #buttonList3, #buttonList4{
    border: solid 1px red;
    border-radius: 30px;
    margin: 2px;
    background: transparent;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    color: red;
    white-space: nowrap;
    font-size: 10px;
    cursor: pointer;
    
}
